<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>{{page_title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<script src="/js/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: '#markdown',
			height: 500,
			width: 1000,
			plugins: ['advlist lists image'],
			toolbar: 'undo redo | formatselect | ' +
			'bold italic backcolor | alignleft aligncenter ' +
			'alignright alignjustify | bullist numlist outdent indent | ' +
			'removeformat',
			images_upload_url: '/api/images',
			automatic_uploads: true
		})
  </script>
</head>

<body class="edit__body">
	<div>
		<h1 class="edit_title">{{page_title}}</h1>
		<form action="{{page_action}}" method="post" enctype="multipart/form-data">
			<div>Рубрика</div>
			<select name="rubric" id="" required class="edit__select">
				<option class="edit__select-item" value="Кормление" selected>Кормление</option>
				<option class="edit__select-item" value="Уход">Уход</option>
				<option class="edit__select-item" value="Воспитание">Воспитание</option>
				<option class="edit__select-item" value="Адаптация">Адаптация</option>
				<option class="edit__select-item" value="Пора к ветеринару?">Пора к ветеринару?</option>
				<option class="edit__select-item" value="Коты доноры">Коты доноры</option>
				<option class="edit__select-item" value="Коты спинальники">Коты спинальники</option>
				<option class="edit__select-item" value="Интересные факты">Интересные факты</option>
				<option class="edit__select-item" value="Забавные истории">Забавные истории</option>
			</select>
			<div>
				<label class="article-form__title" for="title">Название статьи</label>
				<input required value="{{article.title}}" type="text" class="edit__article-title" name="title" id="title" />
			</div>
			<div>
				<label class="article-form__description" for="description">Описание</label>
				<textarea required name="description" class="description"
					id="description">{{article.description}}</textarea>
			</div>
			<div>
				<label for="markdown" class="markdown__title">Разметка</label>
				<textarea required name="markdown" class="markdown" id="markdown">{{article.markdown}}</textarea>
			</div>
			<div class="article-form__img-container">
				<label class="article-form__img-label" for="image">Выберите изображение</label>
				<input class="article-form__img-input" type="file" id="image" name="img" accept="image/*" />
			</div>
			<a href="/articles" class="edit__cancel">Отменить</a>
			<button type="submit" class="edit__submit">Сохранить</button>
		</form>
		{{#if article.errors}}
		<p>{{article.errors}}</p>
		{{/if}}
	</div>
	<script type="module" src="/js/imgsize_control.js"></script>
	<script src="/js/tinymce.min.js"></script>
</body>

</html>