<!-- Штука с классом unread должна появляться у зарегестрированных пользователей для тех статей, который они еще не читали-->


<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/notifications.css">
</head>

<body class="body">
	{{> header isLoggedIn=isLoggedIn}}
	<section class="main">
		<div class="main__content articles">
			<h1 class="articles__title_main">Lorem ipsum dolor sit amet</h1>
			{{#if isEmptyArticleList}}
				<p class="articles__empty-list">На эту тему статей пока нет, но они очень скоро появятся!</p>
			{{/if}}
			{{#if isAdmin}}
			<a href="/articles/add" class="articles__add-button button">Новая статья</a>
			{{/if}}

			{{#each articles}}
			<figure class="articles__item">
				{{#if this.img}}
				<img class="articles__img" src="{{this.img}}" alt="Фото" >
				{{else}}
				<img class="articles__img" src="/img/placeholders/article.png" alt="Фото" >
				{{/if}}

				<figcaption class="articles__preview">
					<h2 class="articles__title">{{this.title}}</h2>
					<span class="unread">Прочти меня</span>
					<p class="articles__text">{{this.description}}</p>
					<a href="/articles/{{this.slug}}" class="articles__read-link link">Читать...</a>
					{{#if ../isAdmin}}
					<div class="articles__admin-actions">
						<a class="button articles__edit-button" href="/articles/{{this._id}}/edit">
							Редактировать
						</a>
						<form class="articles__delete-form" action="/articles/{{this._id}}?_method=DELETE" method="POST">
							<button class="articles__delete-button button" type="button">Удалить</button>
						</form>	
					</div>
					
					{{/if}}
				</figcaption>
			</figure>
			{{/each}}

            <div class="pagination">
                {{#if pagination.first}}
                <a class="pagination__page" href="/articles?page={{pagination.first}}&category={{category}}" >{{pagination.first}}</a>
                {{/if}}
                {{#if pagination.pointsBefore}}
                    <span>...</span>
                {{/if}}
                {{#each pagination.rangeBefore}}
                <a class="pagination__page" href="/articles?page={{this}}&category={{../category}}" >{{this}}</a>
                {{/each}}
                <a class="pagination__page pagination__page_current" href="/articles?page={{pagination.current}}&category={{category}}">{{pagination.current}}</a>
                {{#each pagination.rangeAfter}}
                <a class="pagination__page" href="/articles?page={{this}}&category={{../category}}" >{{this}}</a>
                {{/each}}
                {{#if pagination.pointsAfter}}
                    <span class="pagination__dots">...</span>
                {{/if}}
                {{#if pagination.last}}
                <a class="pagination__page" href="/articles?page={{pagination.last}}&category={{category}}" >{{pagination.last}}</a>
                {{/if}}
            </div>

		</div>
		{{> sidebar }}

	</section>

	{{> footer }}

	{{> popup }}

	<script src="/js/libraries/notifications.js"></script>
	<script type="module" src="/js/dist/main.js"></script>




</body>