<!-- Штука с классом unread должна появляться у зарегестрированных пользователей для тех статей, который они еще не читали-->


<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Мурзатай</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/articles-style.css">
</head>

<body>
	{{> header isLoggedIn=isLoggedIn}}
	<section class="main">
		<div class="content">
			<h1 class="articles-title">Lorem ipsum dolor sit amet</h1>
			{{#if isAdmin}}
			<a href="/articles/add">Новая статья</a>
			{{/if}}

			{{#each articles}}
			<figure class="article">
				{{#if this.img}}
				<img src="{{this.img}}" alt="Фото" class="article-img">
				{{else}}
				<img src="/img/placeholders/article.png" alt="Фото" class="article-img">
				{{/if}}

				<figcaption class="article-prewiew">
					<h2 class="article-title">{{this.title}}</h2>
					<span class="unread">Прочти меня</span>
					<p class="article-text">{{this.description}}</p>
					<a href="/articles/{{this.slug}}" class="read-more">Читать...</a>
					{{#if ../isAdmin}}
					<a href="/articles/{{this._id}}/edit" class="read-more">
						Редактировать
					</a>
					<form action="/articles/{{this._id}}?_method=DELETE" method="POST">
						<button type="submit">Удалить</button>
					</form>
					{{/if}}
				</figcaption>
			</figure>
			{{/each}}

            <div class="pgn-wrap">
                {{#if pagination.first}}
                <a href="/articles?page={{pagination.first}}&category={{category}}" class="pgn">{{pagination.first}}</a>
                {{/if}}
                {{#if pagination.pointsBefore}}
                    <span>...</span>
                {{/if}}
                {{#each pagination.rangeBefore}}
                <a href="/articles?page={{this}}&category={{../category}}" class="pgn">{{this}}</a>
                {{/each}}
                <a href="/articles?page={{pagination.current}}&category={{category}}" class="pgn" style="color: red;">{{pagination.current}}</a>
                {{#each pagination.rangeAfter}}
                <a href="/articles?page={{this}}&category={{../category}}" class="pgn">{{this}}</a>
                {{/each}}
                {{#if pagination.pointsAfter}}
                    <span>...</span>
                {{/if}}
                {{#if pagination.last}}
                <a href="/articles?page={{pagination.last}}&category={{category}}" class="pgn">{{pagination.last}}</a>
                {{/if}}
            </div>

		</div>
		{{> sidebar }}

	</section>

	{{> footer }}

	{{> popup }}

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.maskedinput.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script type="module" src="/js/main.js"></script>




</body>