<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>Мурзатай</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body class="body">
    {{> header }}
    <section class="main">
        <div class="main__content">
            <figure class="banner">
                <img src="/static{{this.img}}" alt="Фото" class="banner__img">
                <figcaption class="banner__caption"></figcaption>
            </figure>
            {{#each articles}}
            <figure class="articles__item">
                {{#if this.img}}
                <img class="articles__img articles__img_lg" src="/static{{this.img}}" alt="Фото">
                {{else}}
                <img class="articles__img articles__img_lg" src="/static/img/placeholders/last-article.png" alt="Фото">
                {{/if}}
                <figcaption class="articles__preview">
                    <h2 class="articles__title">{{this.title}}</h2>
                    <p class="articles__text">{{this.description}}</p>
                    <a class="articles__read-link link" href="/articles/{{this.slug}}">Читать...</a>
                </figcaption>
            </figure>
            {{/each}}
        </div>
        {{> sidebar}}
    </section>

    {{> footer }}
    
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/js-build/nav.js"></script>
    <script src="/static/js-build/sidebarComments.js"></script>
    <script type="module" src="/static/js-build/main.js"></script>
    <script>
        marked.setOptions({ breaks: true });
        document.querySelector(".banner__caption").innerHTML = marked.parse(`{{{this.sanitizedHTML}}}`)
    </script>
</body>

</html>