<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body class="body">
    {{> header }}
    <section class="main">
        <div class="main__content">
            <figure class="banner">
                <img src="/img/banners/index.jpg" width="825" alt="Фото" class="banner__img">
                <figcaption class="banner__caption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magnam, quisquam optio
                    provident asperiores facilis, nostrum ad, necessitatibus ducimus nesciunt nulla dolorem minus tenetur
                    soluta doloribus in error molestiae veniam!
                </figcaption>
            </figure>
            {{#each articles}}
            <figure class="last-articles">
                {{#if this.img}}
                <img width="160" height="160" src={{this.img}} alt="Фото" class="last-articles__img">
                {{else}}
                <img width="160" height="160" src="/img/placeholders/last-article.png" alt="Фото" class="last-articles__img">
                {{/if}}
                <figcaption class="last-articles__preview">
                    <h2 class="last-articles__preview-title">{{this.title}}</h2>
                    <p class="last-articles__preview-text">{{this.description}}</p>
                    <a href="/articles/{{this.slug}}" class="link">Читать...</a>
                </figcaption>
            </figure>
            {{/each}}
        </div>
        {{> sidebar}}

    </section>

    {{> footer }}
    {{> popup }}
    <script type="module" src="/js/dist/main.js"></script>
</body>

</html>