<html lang="ru">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <title>Мурзатай</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>

    <body class="body">
        {{> header }}
        <section class="main">
            <div class="main__content">
                <div id="react-profile"></div>
                {{#if this.isAdmin}}
                    <div class="my-page__admin-links">
                        <a class="link my-page__admin-link" href="/index/edit">
                            Редактировать главную</a>
                        <a
                            class="link my-page__admin-link"
                            href="/about/edit"
                        >Редактировать страницу о себе</a>
                    </div>
                {{/if}}
                <section class="tiles">
                    <h2 class="tiles__header">Избранные статьи</h2>
                    {{#each articles}}
                        <article class="tiles__instance">
                            {{#if this.img}}
                                <img
                                    class="tiles__img"
                                    src="/static{{this.img}}"
                                />
                            {{else}}
                                <img
                                    class="tiles__img"
                                    src="/static/img/placeholders/article.png"
                                />
                            {{/if}}
                            <div class="tiles__text">
                                <h3 class="ff-lora fw-500">{{this.title}}</h3>
                                <p
                                    class="ff-raleway mb-2 mt-1 fs-6"
                                >{{this.description}}</p>
                                <a
                                    class="link"
                                    href="/articles/{{this.slug}}"
                                >Читать...</a>
                            </div>
                        </article>
                    {{/each}}
                </section>
                <section class="tiles">
                    <h2 class="tiles__header">Последние комментарии</h2>
                    {{#each comments}}
                        <article class="tiles__instance">
                            <img class="tiles__img" src="/static/{{../avatar}}" alt="Автарка">
                            <div class="tiles__text">
                                <p>{{this.text}}</p>
                            </div>
                        </article>
                    {{/each}}
                </section>
            </div>
            {{> sidebar this}}
        </section>
        {{> footer }}
        <script type="module" src="/static/js-build/profile.js"></script>
        <script src="/static/js-build/nav.js"></script>
        <script type="module" src="/static/js-build/main.js"></script>
    </body>

</html>