<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body class="body">
    {{> header }}
    <section class="main">
        <div class="main__content">
            <section class="my-page__about">
                <img class="my-page__about-avatar" src="{{user.avatar}}" alt="Ваше фото">
                <div class="my-page__about-info">
                    <button class="my-page__about-edit-button button button_light" type="button">Редактировать</button>
                    <div class="my-page__about-fields">
                        <p class="my-page__about-field my-page__about-username">Ник: {{user.username}}</p>
                        <p class="my-page__about-field my-page__about-city">Город: {{user.city}}</p>
                        <p class="my-page__about-field my-page__about-me">Расскажите о себе или о своих питомцах:</p>
                        <p class="my-page__about-field">{{user.about}}</p>
                    </div>
                    <form class="my-page__about-edit-form my-page__about-edit-form_hidden" action="/users/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                        <label class="my-page__avatar-label button button_light">
                            Загрузить аватар
                            <input class="my-page__avatar-input" type="file" name="avatar" accept=".jpg, .jpeg, .png">   
                        </label>
                        <label class="my-page__about-form-label">
                            Ник:
                            <input class="my-page__about-form-input" name="username" type="text" value="{{user.username}}">
                        </label>
                        <label class="my-page__about-form-label">
                            Город:
                            <input name="city" type="text" value="{{user.city}}" class="my-page__about-form-input">
                        </label>
                        <label class="my-page__about-form-label">
                                Расскажите о себе или своих питомцах:
                            <textarea maxlength="250" name="about" placeholder="Расскажите о себе или своих питомцах"
                                class="my-page__about-form-textarea textarea">{{user.about}}</textarea>
                        </label>
                        <button class="my-page__about-form-submit button button_light" type="submit" >Готово</button>
                    </form>
                    {{#each errors}}
                    <p class="error">
                        {{this}}
                    </p>
                    {{/each}}
                </div>
            </section>
            <section class="my-page__favourite">
                <h2 class="my-page__favourite-section-title">Избранные статьи</h2>
                {{#each articles}}
                <article class="my-page__favourite-article">
                    {{#if this.img}}
                    <img class="my-page__favourite-img" src={{this.img}}>
                    {{else}}
                    <img class="my-page__favourite-img" src="/img/placeholders/article.png">
                    {{/if}}
                    <div class="my-page__favourite-preview">
                        <h4 class="my-page__favourite-preview-title">{{this.title}}</h4>
                        <p class="my-page__favourite-preview-text">{{this.description}}</p>
                        <a class="link" href="/articles/{{this.slug}}">Читать...</a>
                    </div>
                </article>
                {{/each}}
            </section>
            <section class="my-page__comments">
                <!--Два последних комментария оставленных пользователем-->
                <h2 class="my-page__comments-title"> Последние комментарии</h2>
                {{#each comments}}
                <article class="my-page__comment">
                    <img class="my-page__comment-img" src="/img/placeholders/usercomment.png" alt="Автарка">
                    <p class="my-page__comment-text">{{this.text}}</p>
                </article>
                {{/each}}
            </section>
        </div>
        {{> sidebar this}}
    </section>
    {{> footer }}
    <script type="module" src="/js/dist/main.js"></script>
</body>

</html>