<!--Личная страничка пользователя-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/my-page.css">
</head>

<body>
    {{> header }}
    <section class="main">
        <div class="content">
            <div class="foto-information-wrap">
                <div class="foto-wrap">
                    <img src="/img/placeholders/ava.jpg" alt="Ваше фото" class="ava">
                </div>
                <div class="information-wrap">
                    <button class="information-button">Редактировать</button>
                    {{!-- <p class="information">Ник: {{user.username}}</p>
                    <p class="information">Город: {{user.city}}</p>
                    <p class="information">Расскажите о себе или своих питомцах</p> --}}
                    {{!-- Должно вылезать при нажатии на кнопку с классом .information-button --}}
                    {{!-- <p class="about-text">{{user.about}}</p> --}}
                    <form class="about-form" action="/users/{{user._id}}?_method=PUT" method="POST">
                        <label class="about-form__label">
                            Ник:
                            <span class="about-form__text">{{user.username}}</span>
                            <input name="username" type="text" value="{{user.username}}" class="about-form__input">
                        </label>
                        <label class="about-form__label">
                            Город:
                            <span class="about-form__text">{{user.city}}</span>
                            <input name="city" type="text" value="{{user.city}}" class="about-form__input">
                        </label>
                        <label class="about-form__label">
                            <p>Расскажите о себе или своих питомцах:</p>
                            <p class="about-form__text about-form__about">{{user.about}}</p>
                            <textarea maxlength="250" name="about" id="#"
                                placeholder="Расскажите о себе или своих питомцах"
                                class="about-form__input about-form__textarea">{{user.about}}</textarea>
                        </label>
                        <button type="submit" class="about-form__input">Готово</button>
                    </form>
                    {{#each errors}}
                    <p class="errors">
                        {{this}}
                    </p>
                    {{/each}}
                </div>
            </div>
            <div class="favorite">
                <!--Избранные статьи-->
                <h3 class="favorite-wrap-title"> Избранные статьи</h3>
                {{#each articles}}
                <figure class="favorite-article">
                    {{#if this.img}}
                    <img src={{this.img}} class="favorite-img">
                    {{else}}
                    <img src="/img/placeholders/article.png" class="favorite-img">
                    {{/if}}
                    <figcaption class="favorite-prewiew">
                        <h4 class="favorite-title">{{this.title}}</h4>
                        <p class="favorite-text">{{this.description}}</p>
                        <a href="/articles/{{this.slug}}" class="link" >Читать...</a>
                        {{!-- <button class="read-more">Читать...</button> --}}
                    </figcaption>
                </figure>
                {{/each}}
            </div>
            <div class="user-comment">
                <!--Два последних комментария оставленных пользователем-->
                
                <h3 class="usercomment-title"> Последние комментарии</h3>
                {{#each comments}}
                <figure class="usercomment">
                    <img src="/img/placeholders/usercomment.png" alt="Автарка" class="usercomment-img">
                    <figcaption class="usercomment-prewiew">
                        <p class="usercomment-text">{{this.text}}</p>
                    </figcaption>
                </figure>
                {{/each}}
            </div>
        </div>


        {{> sidebar this}}
    </section>


    {{> footer }}


    <script type="module" src="/js/dist/main.js"></script>
</body>

</html>