<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/notifications.css">
</head>

<body class="body">
    {{> header }}
    <section class="main">
        <div class="main__content">
            <div class="my-page__js-about" data-user-id="{{userId}}"></div>
            <section class="my-page__favourite">
                <h2 class="my-page__favourite-section-title">Избранные статьи</h2>
                {{#each articles}}
                <article class="my-page__favourite-article">
                    {{#if this.img}}
                    <img class="my-page__favourite-img" src={{this.img}}>
                    {{else}}
                    <img class="my-page__favourite-img" src="/img/placeholders/article.png">
                    {{/if}}
                    <div class="my-page__favourite-preview">
                        <h4 class="my-page__favourite-preview-title">{{this.title}}</h4>
                        <p class="my-page__favourite-preview-text">{{this.description}}</p>
                        <a class="link" href="/articles/{{this.slug}}">Читать...</a>
                    </div>
                </article>
                {{/each}}
            </section>
            <section class="my-page__comments">
                <!--Два последних комментария оставленных пользователем-->
                <h2 class="my-page__comments-title"> Последние комментарии</h2>
                {{#each comments}}
                <article class="my-page__comment">
                    <img class="my-page__comment-img" src="{{../avatar}}" alt="Автарка">
                    <p class="my-page__comment-text">{{this.text}}</p>
                </article>
                {{/each}}
            </section>
        </div>
        {{> sidebar this}}
    </section>
    {{> footer }}
    <script src="/js/libraries/notifications.js"></script>
    <script type="module" src="/js/dist/main.js"></script>
</body>

</html>