<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/topic.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
</head>

<body>

    {{> header }}
    <section class="main">
        <div class="content">
            {{#if isLoggedIn}}
            {{#if favourite}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}"
                class="add-favourite add-favourite-active"></button>
            {{else}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}" class="add-favourite"></button>
            {{/if}}
            {{/if}}

            <h1 class="topic-title"> {{article.title}} </h1>
            <p class="topic-text">{{{article.sanitizedHTML}}}</p>
            <a href="/articles/{{article._id}}/edit/">Редактировать</a>

            {{#if isLoggedIn}}
            <h3 class="comment-title">Оставьте свой комментарий</h3>
            {{!-- <form action="/articles/{{article._id}}/comments" class="topic-comment-wrap" method="POST"> --}}
            <form action="/comments" class="topic-comment-wrap" method="POST">
                <p class="symbol-count">0/500</p>
                <textarea name="text" id="#" class="topic-comment"></textarea>
                <button type="submit" class="comment-submit">Отправить</button>
                <input name="articleId" value="{{article._id}}" type="hidden" />
            </form>
            {{else}}
            <p class="comment-unauthorized">Для того чтобы оставить комментарий, войдите или зарегистрируйтесь</p>
            {{/if}}
            {{#each article.comments}}
            <div class="comments-topic-wrap">
                <figure class="comments-topic">
                    <img src="/img/user-profile.svg" alt="Аватарка" class="topic-comment-ava">
                    <figcaption>
                        <p class="author">{{../user.username}}</p>
                        <p class="one-topic-comm">{{this.text}}</p>
                        <p class="date">{{this.date}}</p>
                    </figcaption>
                </figure>
            </div>
            {{/each}}
        </div>

        {{> sidebar }}
    </section>

    {{> footer }}


    {{> popup }}

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script type="module" src="/js/main.js"></script>



</body>

</html>