<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
</head>

<body class="body">
    {{> header }}
    <section class="main">
        <article class="topic__content">
            {{#if isLoggedIn}}
            {{#if favourite}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}"
                class="topic__add-favourite topic__add-favourite_active"></button>
            {{else}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}" class="topic__add-favourite"></button>
            {{/if}}
            {{/if}}

            <h1 class="topic__title"> {{article.title}} </h1>
            <div class="topic__layout">{{{article.sanitizedHTML}}}</div>
            {{#if isAdmin}}
            <a class="topic__edit-button button" href="/articles/{{article._id}}/edit/">Редактировать пост</a>
            {{/if}}

            <section class="topic__comments comments">
                {{#if isLoggedIn}}
                <h3 class="comments__welcome-message">Оставьте свой комментарий</h3>
                <form class="comments__add-form">
                    <p class="comments__symbol-counter">0/500</p>
                    <textarea class="comments__add-textarea textarea textarea_medium" name="text"  maxlength="500"></textarea>
                    <button class="comments__add-button comments__send-button button" type="button"  data-id="{{article._id}}">Отправить</button>
                </form>
                {{else}}
                <p class="comments__unauthorized">Для того чтобы оставить комментарий, войдите или зарегистрируйтесь</p>
                {{/if}}
                {{#each article.comments}}
                <article class="comments__instance" data-id="{{this._id}}">
                    <img class="comments__instance-ava" src="/img/icons/user-profile.svg" alt="Аватарка">
                    <div class="comments__instance-content">
                        <p class="comments__instance-author">{{../user.username}}</p>
                        <p class="comments__instance-text">{{this.text}}</p>
                        <time class="comments__instance-date" datetime="{{this.machineDate}}">{{this.humanDate}}</time>
                        {{#if this.canDelete}}
                        <form class="comments__form">
                            <button class="comments__delete-button button" type="button">Удалить</button>
                            <button class="comments__edit-button button" type="button">Редактировать</button> 
                        </form>
                        {{/if}}
                    </div>
                </article>
                {{/each}}
            </section>
        </article>

        {{> sidebar }}
    </section>

    {{> footer }}


    {{> popup }}

    <script type="module" src="/js/dist/main.js"></script>
    <script type="module" src="/js/comments.js"></script>



</body>

</html>