<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/topic.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Мурзатай</title>
</head>

<body>

    {{> header }}
    <section class="main">
        <div class="content">
            {{#if isLoggedIn}}
            {{#if favourite}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}"
                class="add-favourite add-favourite-active"></button>
            {{else}}
            <button data-article-id="{{article._id}}" data-user-id="{{userId}}" class="add-favourite"></button>
            {{/if}}
            {{/if}}

            <h1 class="topic-title"> {{article.title}} </h1>
            <p class="topic-text">{{{article.sanitizedHTML}}}</p>
            {{#if isAdmin}}
            <a href="/articles/{{article._id}}/edit/">Редактировать</a>
            {{/if}}
            {{#if isLoggedIn}}
            <h3 class="comment-title">Оставьте свой комментарий</h3>
            <form action="/comments" class="topic-comment-wrap" method="POST">
                <p class="symbol-count">0/500</p>
                <textarea name="text" class="topic-comment" maxlength="500"></textarea>
                <button type="submit" class="comment-submit">Отправить</button>
                <input name="articleId" value="{{article._id}}" type="hidden" />
            </form>
            {{else}}
            <p class="comment-unauthorized">Для того чтобы оставить комментарий, войдите или зарегистрируйтесь</p>
            {{/if}}
            {{#each article.comments}}
            <div class="comments-topic-wrap">
                <figure class="comments-topic">
                    <img src="/img/icons/user-profile.svg" alt="Аватарка" class="topic-comment-ava">
                    <figcaption class="topic__comment-info">
                        <p class="topic__comment-author">{{../user.username}}</p>
                        <p class="topic__comment-text">{{this.text}}</p>
                        <p class="topic__comment-date">{{this.date}}</p>
                        {{#if this.canDelete}}
                        <form action="/comments/{{this._id}}" method="post">
                            <input type="hidden" name="authorId" value="{{../userId}}" />
                            <button type="submit" class="comment-submit" style="width: 70px;">Удалить</button>  
                        </form>
                        {{/if}}
                    </figcaption>
                </figure>
            </div>
            {{/each}}
        </div>

        {{> sidebar }}
    </section>

    {{> footer }}


    {{> popup }}

    <script>(
        function() {
            const counter = document.querySelector(".symbol-count")
            const textarea = document.querySelector(".topic-comment")
            counter.innerHTML = `${textarea.value.length}/500`
            textarea.addEventListener("input", (event) => {
                const target = event.currentTarget
                counter.innerHTML = `${target.value.length}/500`
            })
        }
    )()
    </script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script type="module" src="/js/main.js"></script>



</body>

</html>