<html lang="ru">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{#if article.keywords}}
            <meta name="keywords" content="{{article.keywords}}" />
        {{/if}}
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <title>Мурзатай</title>
    </head>

    <body class="body">
        {{> header }}
        <section class="main">
            <article class="topic">
                {{#if isLoggedIn}}
                    {{#if favourite}}
                        <button
                            data-article-id="{{article._id}}"
                            data-user-id="{{userId}}"
                            class="topic__add-favourite topic__add-favourite_active"
                        >
                        </button>
                    {{else}}
                        <button
                            data-article-id="{{article._id}}"
                            data-user-id="{{userId}}"
                            class="topic__add-favourite"
                        ></button>
                    {{/if}}
                {{/if}}

                <h1 class="topic__title">{{article.title}}</h1>
                <div class="topic__layout">{{{article.sanitizedHTML}}}</div>
                {{#if isAdmin}}
                    <a
                        class="topic__edit-button button"
                        href="/articles/{{article._id}}/edit/"
                    >Редактировать пост</a>
                {{/if}}

                <section class="topic__comments comments">
                    {{#if isLoggedIn}}
                        <p class="comments__welcome-message">Оставьте свой
                            комментарий</p>
                        <form class="comments__add-form">
                            <article
                                class="textarea textarea_medium sc-textarea comments__sc-textarea"
                            >
                                <p
                                    class="sc-textarea__counter comments__symbol-counter"
                                >
                                    0/500
                                </p>
                                <textarea
                                    class="sc-textarea__textarea"
                                    name="text"
                                    maxlength="500"
                                ></textarea>
                            </article>
                            <button
                                class="comments__add-button comments__send-button button"
                                type="button"
                                data-id=""
                            >
                                Отправить
                            </button>
                        </form>
                    {{else}}
                        <p class="comments__unauthorized">Для того чтобы
                            оставить комментарий, войдите или зарегистрируйтесь</p>
                    {{/if}}
                    <div
                        class="comments__inner"
                        data-id="{{article._id}}"
                    ></div>
                    {{> comment}}
                </section>
            </article>
            {{> sidebar }}
        </section>
        {{> footer }}
        {{> popup }}
        <script type="module" src="/static/js-build/main.js"></script>
    </body>

</html>